body{
  font-family: "Roboto", sans-serif;
}

.header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  height: 100px;
  padding: 20px;
  border-radius: 50px;
}

.navbar{
  border-top: 0.5px solid black;
  padding: 10px;
}

.navbar a{
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar a:hover{
  color: white;
}

